{% extends 'surfsup/base.html' %} {% load static %} {%block logincss %}
<link rel="stylesheet" href="{% static 'surfsup/css/login.css' %}" />
{%endblock %} {%block content %}

<div class="view wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i
        class="fas fa-snowboarding my-3"
        style="display:block; font-size:3em; color: skyblue"
      ></i>
      <h4><b>Ready to Surf?</b></h4>
    </div>

    <!-- Login Form -->
    <form action="/login_post" method="POST">
      {% csrf_token %}
      <input
        type="email"
        id="login"
        class="fadeIn second"
        name="email"
        placeholder="Email"
        required
        autofocus
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      dont have an account?
      <a class="underlineHover" href="/signup">sign up!</a>
    </div>
  </div>
</div>

{% endblock %}
